<%= render("layouts/errors", :object => @comment) %>

<%= form_for(@comment) do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <%= f.submit(class: "btn btn-primary") %>
<% end %>
